

<body class="text-center">

  <main class="form-signin">
    <form #changePasswordForm="ngForm" (ngSubmit)="changepassword()" autocomplete="off">
      <h1 class="h3 mb-3 fw-normal">Enter your old password and new password.</h1>
      <div class="form-floating">
        <input type="password" [(ngModel)]="model.oldpassword" name="oldpassword"
               class="form-control">
        <label for="floatingUsername">Old password</label>
      </div>
      <div class="form-floating">
        <input type="password" [(ngModel)]="model.newpassword" name="newpassword"
               class="form-control">
        <label for="floatingPassword">New Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Change password</button>
    </form>
  </main>
  <ng-template #ChangePasswordSuccessDialog>
    <h2 matDialogTitle>Password updated successfully!</h2>
  </ng-template>




</body>

