
<div class="container" initial-scale=1, user-scalable="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
  <div class="row">
    <div class="col">
      <img id="picture1" src="/assets/img/PCAP.jpg" class="show img-responsive">
      <img id="picture2" src="/assets/img/CCNA1.jpg" class="hide img-responsive">
      <img id="picture3" src="/assets/img/CCNA2.jpg" class="hide img-responsive">
      <img id="picture4" src="/assets/img/ECDL.jpg" class="hide img-responsive">

    </div>
    
    <div class="btn-group" role="group">
      <button type="button" (click)="showImg(1)" class="btn btn-secondary">PCAP</button>
      <button type="button" (click)="showImg(2)" class="btn btn-secondary">CCNAv7 1</button>
      <button type="button" (click)="showImg(3)" class="btn btn-secondary">CCNAv7 2</button>
      <button type="button" (click)="showImg(4)" class="btn btn-secondary">ECDL</button>
    </div>
  </div>
</div>


