

<div>
  <a href="https://github.com/ninetz/POCloudAPI"><h1>POCloud</h1> </a>
  <h2>Due to hosting restrictions, not all features are available online.</h2>
  <b>Front end ( Angular ) :</b>
  <ul>
    <li>Error interceptor </li>
    <li>Auth guards</li>
    <li>Models </li>
    <li>Services</li>
  </ul>
  <b>Back end ( C# ASP.net ) :</b> <br />
  <ul>
    <li> <strong>Entity framework for interfacing with DB</strong><br /> </li>
    <li><strong>Unit of work and repository pattern</strong><br /></li>
    <li><strong>Login & registration</strong><br /></li>
    <li>Upload & download files (Files are saved in Base64 as Byte[] in the DB)<br /></li>
    <li>
      Implementation of JWT authentication ( including verifying user's token with a DB when attempting to perform priviliged functions - for example changing the password)<br />
    </li>
    <li>Database(datacontext) used is MSSQL<br /></li>
  </ul>
</div>
<div>
  <a href="https://github.com/ninetz/Fix-Windows-Timer-Resolution"><h1>Fix Windows Timer Resolution</h1> </a>
  <ul>Sets the windows timer resolution to 1 ms, down from the default 15,6ms. This makes the system more responsive overall and likely prevents stuttering or microsttuters from happening in the first place.</ul>
</div>
