
<div>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
  <div id="cards_landscape_wrap-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="https://github.com/ninetz/POCloudAPI">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="/assets/img/csharp.svg" alt="" />
                </div>
                <div class="text-container">
                  <h6>POCloudAPI</h6>
                  <p>A marriage of Angular and ASP.net backend with MSSQL as the DB. API features login, registration using JWT, file upload and Unit of Work/Repository design pattern.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="https://github.com/ninetz/Fix-Windows-Timer-Resolution">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="/assets/img/c++.svg" alt="" />
                </div>
                <div class="text-container">
                  <h6>Fix Windows Timer Resolution</h6>
                  <p>C++/C Application. Sets the windows timer resolution to 1 ms, down from the default 15,6ms. This improves system responsibility and is can prevent microsttutering in applications.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="https://github.com/ninetz/Data-Structure-Tester">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="/assets/img/c++.svg" alt="" />
                </div>

                <div class="text-container">
                  <h6>Data Structure Tester</h6>
                  <p>C++ Program that benchmarks algorithms implemented in the most common data structures. Also tests the difference between parallel and non-parallel execution of some of the algorithms implemented.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="https://github.com/ninetz/DonaldRemarks">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="/assets/img/kotlin.svg" alt="" />
                </div>
                <div class="text-container">
                  <h6>Donald Remarks</h6>
                  <p>Strictly apolitical,simple Android app written in Kotlin that pulls random quotes or personalized quotes - based on your input - from an API and displays them.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
