
<body class="text-center">

  <main class="form-signin">
    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      
      <h1 class="h3 mb-3 fw-normal">Enter your username and password.</h1>

      <div class="form-floating">
        <input type="text" [(ngModel)]="model.username" name="username"
               class="form-control" id="floatingInput" placeholder="Username">
        <label for="floatingUsername">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" [(ngModel)]="model.password" name="password"
               class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>

  <ng-container>
    <div class="row mt-5" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>

    </div>

  </ng-container>



</body>
