<body class="text-center">
  <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">

    <div class="mb-3">
      <label for="exampleInputUsername" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="model.username" placeholder="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="model.password" placeholder="password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>

  <div class="row mt-5" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>

  </div>
  </body>
