<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
    <a class="navbar-brand" routerLink="/">POCloud</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/certificates">Certificates</a>
        <a class="nav-link" routerLink="/CV">CV</a>
        <a class="nav-link" routerLink="/projects">Projects</a>
        <ng-container *ngIf="accountService.currentUser$ | async">
          <a class="nav-link" routerLink="/uploadfile" routerLinkActive="active">Upload a file</a>

        </ng-container>



      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" *ngIf="!(accountService.currentUser$ | async)">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>

      </div>
      <div ngbDropdown class="dropdown" *ngIf="(accountService.currentUser$ | async) as user">
        <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false" dropdownToggle>
          Logged in as {{user.knownAs || user.username | titlecase}}
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <a class="nav-link" (click)="accountService.logout()" href="#">Logout</a>
          <a class="nav-link" routerLink="/changepassword">Change Password</a>
        </ul>
      </div>

    </div>
  </div>
  

</nav>
