<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
 <script src="https://kit.fontawesome.com/6c295d3e42.js" crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-xxl navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">POCloud</a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/certificates">Certificates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/CV">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects">Projects</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-nav-right">
          <li>
            <a href="https://www.linkedin.com/in/peter-otruba-99361b223">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x text-black"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://www.github.com/ninetz">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x text-black"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li> 
        </ul>
    </div>
  </nav>

