

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">POCloud</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/certificates">Certificates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/CV">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-nav-right" *ngIf="!(accountService.currentUser$ | async)">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </ul>
      <div ngbDropdown class="dropdown" *ngIf="(accountService.currentUser$ | async) as user">
        <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false" dropdownToggle>
          Logged in as {{user.knownAs || user.username | titlecase}}
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <a class="nav-link" (click)="accountService.logout()" href="#">Logout</a>
          <a class="nav-link" routerLink="/changepassword">Change Password</a>
        </ul>
      </div>
    </div>
  </div>
</nav>
